AWS_REGION=us-east-1
AWS_DEPLOY_ROLE_ARN=arn:aws:iam::123456789012:role/org-github-deploy-example
CLOUDFORMATION_EXECUTION_ROLE_ARN=arn:aws:iam::123456789012:role/org-cloudformation-execution
IDENTITY_CENTER_INSTANCE_ARN=arn:aws:sso:::instance/ssoins-REPLACE_ME
