[Unit]
Description=Rclone service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=fernandoavanzo
ExecStart=rclone mount remote: /mnt/data/gdrive/avanzo-drive --vfs-cache-mode full

[Install]
WantedBy=multi-user.target
