[Desktop Entry]
Name=Start Rclone
Comment=Starts Rclone mount service
Exec=gnome-terminal -- bash -c "/usr/bin/init_rclone"
Icon=<RCLONE_ICON_PATH>
Terminal=false
Type=Application
Categories=Utilities;
Encoding=UTF-8
Name[en_US]=Start Rclone
