[Unit]
Description=Create I2C devices for MAX98390 HDA speaker amplifiers
After=systemd-modules-load.service
Before=sound.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/max98390-hda-i2c-setup.sh start
ExecStop=/usr/local/sbin/max98390-hda-i2c-setup.sh stop

[Install]
WantedBy=sound.target
