[Unit]
Description=ROT13 demo service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=favanzo
ExecStart=rclone mount mygoogledrive: /userdata/googledrive/

[Install]
WantedBy=multi-user.target
